# Build artifacts
/target
/dist
/build

# Data & Database
/data
/msg_db
*.db
*.db-shm
*.db-wal

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Config & Secrets
.env
.env.local
.env.*.local

# Backups
**/*.rs.bk
Cargo.lock

# IDEs & System
.idea
.vscode
.DS_Store
*.log
